.idea/
.venv/
venv/
.env
.env.django
.env.fastapi

__pycache__/
*.pyd
*.pyo
*.pyc




.pytest_cache/
.coverage
htmlcov/

fastapi_service/logs/*
!fastapi_service/logs/.gitkeep

django_service/logs/*
!django_service/logs/.gitkeep

*.log
*.sqlite3

.vscode/

keys/
fastapi_service/keys/*
!fastapi_service/keys/.gitkeep

django_service/keys/*
!django_service/keys/.gitkeep

docs/_build/


