.idea/
.venv/
venv/
.env

__pycache__/
*.pyd
*.pyo
*.pyc

.git/
.gitignore
README.md


.pytest_cache/
.coverage
htmlcov/

logs/*
!logs/.gitkeep
*.log


.vscode/


keys/*
!keys/.gitkeep

docs/_build/


